<mat-card>
    <mat-card-header>
        <mat-card-title>Transaction | Vouchers</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-card-content" style="padding-top: 3%">
        <mat-form-field>
            <mat-label>Residente</mat-label>
            <mat-icon  class="editIconColor" matSuffix>unarchive</mat-icon>
            <mat-select [(value)]="selectedResident" (selectionChange)="selectedTResidentChanged()">
              <mat-option *ngFor="let resident of residents" [value]="resident">{{resident.residentInformationId}}</mat-option>
            </mat-select>
          </mat-form-field>

          <ngx-datatable #myTable class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="50"  [scrollbarV]="false" [rows]='vouchersByResident'  [limit]="10" (page)="onPage($event)"
          [messages]="ngxDatatableMessage"
          [selectionType]="'checkbox'"
          [selectAllRowsOnPage]="false">
       
          <ngx-datatable-column name="<i class='fa fa-cogs fa-fw'></i> Resident Id" prop="residentId"
              [canAutoResize]="false" [width]="200"></ngx-datatable-column>
          
        <ngx-datatable-column name="<i class='fa fa-cogs fa-fw'></i> Name" prop="name"
                [canAutoResize]="false" [width]="200"></ngx-datatable-column>

                <ngx-datatable-column name="<i class='fa fa-cogs fa-fw'></i> Last Name" prop="lastName"
                    [canAutoResize]="false" [width]="200"></ngx-datatable-column>
      
          <ngx-datatable-column name="<i class='fa fa-cogs fa-fw'></i> Payment Date" prop="paymentDate"
              [canAutoResize]="false" [width]="200">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'MMM dd, yyyy' }}
              </ng-template>
            </ngx-datatable-column>  

          <ngx-datatable-column name="<i class='fa fa-cogs fa-fw'></i> Payment Calendar Date" prop="paymentCalendarDate"
              [canAutoResize]="false" [width]="200">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'MMM dd, yyyy' }}
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name="<i class='fa fa-cogs fa-fw'></i> Payment Ammount" prop="paymentAmmount"
            [canAutoResize]="false" [width]="200"></ngx-datatable-column> 

            <ngx-datatable-column name="<i class='fa fa-cogs fa-fw'></i> Pending Ammount" prop="pendingAmmount"
                [canAutoResize]="false" [width]="200"></ngx-datatable-column> 
          </ngx-datatable>

          <div fxLayout="row wrap">
            <div class="p-20">
              <mat-card-actions>
                <button *ngIf="selectedResident" mat-raised-button color="accent" (click)="openDialog()" >
                    <i class="fa fa-plus-square fa-fw"></i> Add Voucher
                </button>
            </mat-card-actions>
            </div>

        </div>
    </mat-card-content>
</mat-card>